<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Please Login</h1>
    {% if user.is_authenticated %}
     <h1>User is Login</h1>
     <li><a  href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <h1>User</h1>
    <li><a href="{% url 'first_app:user_login'%}">Login</a></li> 
    {% endif %}
   <form action="{% url 'first_app:user_login' %}" method="post">
          {% csrf_token %}
          <label for="username">UserName:</label>
          <input type="text" name="username" placeholder="Enter UserName">

          <label for="password">Password:</label>
          <input type="password" name="password">

          <input type="submit" name="" value="Login">

   </form>
</body>
</html>